.tab {
  color: #aaa;
  padding: 10px 15px;
  cursor: pointer;
}

.tab_active {
  color: #000;
  padding: 7px 15px;
  background-color: #eee;
  border-radius: 7px;
  font-weight: 600;
  cursor: pointer;
}
.poster {
  border-radius: 15px;
}
